@import "../../styles/index";

.header {
  width: 100%;
  padding: 20px 0;
  background-color: $bgPrimary;

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__btn {
      position: relative;
      color: $colorTitle;
      a {
        color: $colorTitle;
      }
      .header__count {
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #ff0000;
        border-radius: 50%;
        right: 0;
        bottom: 0;
        font-size: 15px;
      }
    }

    .header__title {
      color: $colorTitle;
    }

  }

}